body {
	padding-top: 70px;
	padding-bottom: 20px;
	 /* Margin bottom by footer height */
 	 margin-bottom: 60px;
}
.title {
	font-size: larger;
	font-weight: bold;
}
.table th.centered-cell, .table td.centered-cell {
	text-align: center;
}
.btn-modal , .btn-modal:hover, .btn-modal:visited, .btn-modal:focus, .btn-modal:active {
	text-decoration: none;
	color: inherit;
}
.btn-modal:focus {
	outline: none;
}

.footer {
  /*position: absolute; */
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
